

/*initialise variables here, move to seperate import later*/

$Background:        #2a2a2b;
$Background__light: adjust-color($Background, $lightness: 10%);
$Background--text:  #fafafb;

/*Main style data goes here- migrate out to sub-files as apropro*/

* {
    background-color: $Background;
    color: $Background--text;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

    .header__navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        min-width: 30%;
    }
}

.main-content {

    .main-content__job-description{
        max-width: 30%;
    }

    .main-content__projects {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    
    .main-content__project-card {

        max-width: 30%;

        .main-content__card-image {
            max-width: 100%;
            border-radius: 4px;
        }

        .main-content__header-row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .main-content__card-button-panel {
                    display: flex;
                    flex-wrap: nowrap;
                }
        }

        .main-content__card-footer {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                flex-wrap: nowrap;

                .main-content__card-tag {
                    background-color: $Background__light;
                    border-radius: 4px;
                    margin: 5px;
                }
            }
        }
    }

    .main-content__about {
        display: grid;
        grid-template:  "header image"  1fr
                        "text   image"  1fr
                        /1fr    1fr     ;
                        // I feel this needs some padding work to make it centered.
        
        .main-content__about-text--header {
            grid-area: header;
        }
        
        .main-content__about-text--content {
            grid-area: text;
        }
        
        .main-content__about-image {
            grid-area: image;
        }
    }

    .main-content__contact {
        display: flex;
        flex-direction: column;
        align-items: center;

        .main-content__contact-button {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 5%;
            padding-right: 5%;
            margin: 10px;
        }
    }
}

.footer-content {
    background-color: $Background__light;

    display: flex;
    flex-direction: row;
    justify-content: center;
}